.pantalla {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 110px;
}



/* caruucel de fotos de la peluqueria debe tener el tamaño exacto de las imagenes de ejemplo*/
.carrucel {
  border-radius: 5px;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  max-height: 70vh;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid white;
}

.carrucel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 10s infinite alternate ease-in-out;
}

.carrucel li {
  width: 100%;
  list-style: none;
  position: relative;
}

/*tamaño de carrucel para difetentes dispositivos*/
.carrucel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.flecha {
  width: 50px;
  display: block;
  margin: 0 auto;
}


.contenedor-mapas {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.mapa1 {
  gap: 20px;
  align-items: center;
  border: 5px solid black;
  position: relative;
  display: inline-block;
}


.card {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px black;
}


#Servicios,
#Locales {
  scroll-margin-top: 110px;
}


@media (max-width: 768px) {
  .pantalla {
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-margin-top: 90px;
  }
}


.icono-servicio {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .pantalla {
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*animacion para el carrucel de 4 fotos nada mas*/

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* móviles */
@media (max-width: 768px) {
  .flecha {
    width: 30px;
  }
}