* {
    padding: 0;
    margin: 0;
}


.BotonDefecto {
    border: 1px solid black;
    padding: 2px;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

header {
    display: flex;
    background-color: #cccccc;
    padding: 10px;
    height: 100px;
}

.logo {
    height: 50px;
    width: auto;
    margin: 24px;
}

nav {
    display: flex;
    column-gap: 1200px;
    align-items: center;
}

.carrucel {
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
}


.carrucel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.carrucel li {
    width: 100%;
    list-style: none;
    position: relative;
}


@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}