* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.BotonDefecto {
    border: 1px solid black;
    padding: 2px;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px black;
    margin: 10px;
}

html {
  scroll-behavior:smooth;
}


header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    background-color: #cccccc;
    padding: 10px 20px;/*tamaño del contenedor*/
    z-index: 10;
}

header.abajo{
    background-color: bisque;
    padding: 10px 20px;
}

.logo {
    height: 50px;
    width: auto;
    margin: 9px;
}

nav {
    display: flex;
    column-gap: 1200px;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}


nav a:hover {
    background-color: rgb(149, 149, 255);
}

nav a.activo {
    background-color: rgb(149, 149, 255);
    color: white;
}

.carrucel {
    max-width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}


.carrucel ul {


    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.carrucel li {
    width: 100%;
    list-style: none;
    position: relative;
}


@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.flecha{
    height: auto;
    width: 50px;
    margin: 0 auto;
    display: flex;
  
}
