* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    margin: 0;
    background: #e5e5e5;
}

/* Header */
.top-bar {
    background: rgb(252, 251, 251);
    border: #000 1px solid;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    
    padding-right: 20px;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 20px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Buttons */
button {
    cursor: pointer;
}

.btn-link {
    border: 1px solid #000;
    background: #fff;
    padding: 4px 10px;
}

.btn-primary {
    background: #2b6cff;
    color: #fff;
    border: none;
    padding: 6px 12px;
}

.btn-secondary {
    border: 1px solid #000;
    background: #fff;
    padding: 5px 10px;
}

/* Tabs */
.tabs {
    margin: 30px;
    text-align: center;
}

.tab {
    border: 1px solid #000;
    background: #fff;
    padding: 5px 10px;
}

.tab.active {
    background: #ddd;
}

/* Main container */
.contenedor-foto {
    background-image: url('Imagenes/barbero_Jabier_Rincon.jpeg');
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    background-size: cover;
    background-position: center;
    
 
}

.container {
    background: #fff;
    /*margin: 0 20px 20px;*/
    padding: 20px;
    display: flex;
    gap: 40px;
    border: #000 1px solid;
}

.perfil-container {
    text-align: center;
    margin-top: 10px;
}
.boton-cambiar-foto {
    display: flex;
    margin-top:  320px;
   
}


/* Profile photo */
.profile-photo {
    text-align: center;
}



/* Form */
.form {
    flex: 1;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    margin-bottom: 5px;
}

input {
    padding: 6px;
    border: 1px solid #000;
}

/* Actions */
.form-actions {
    text-align: right;
}